<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:font-family="http://www.w3.org/1999/xhtml" xmlns:font-style="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>语言处理基础技术</title>
    <!-- 引入样式 -->
    <link rel="stylesheet"
          href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<style>

    <!--模块背景属性-->
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }
    .el-aside {
        color: #333;
    }
</style>
<style>
    <!--走马灯属性-->
    .el-carousel__item h3 {
        color: #fefefe;
        font-size: 14px;
        opacity: 0.75;
        line-height: 200px;
        margin: 0;
    }
    .el-carousel__item:nth-child(2n) {
        background-color: #03eef7;
        text-align: center;
    }
    .el-carousel__item:nth-child(2n+1) {
        background-color: #08ffc8;
        text-align: center;
    }
</style>
<body style="background-color: rgba(86,84,108,0.3)">

<div id="app">

    <div align="center">
        <h1>语言处理基础技术</h1>
    </div>
    <div align="center">
        <h5>提供国际领先的自然语言处理技术，帮助你的产品更好的理解这个世界</h5>
    </div>
    <template>
        <el-carousel :interval="4000" type="card" height="200px">
            <el-carousel-item v-for="item in 1" :key="item">
                <h3>自然语言处理<sub>-中文分词</sub></h3>
                <marquee>Hanlp中文自然语言处理中的分词方法有标准分词、NLP分词、索引分词、N-最短路径分词、CRF分词以及极速词典分词等。</marquee><br><br>
                <marquee>中文分词：<sub>曾辉祥</sub></marquee>
            </el-carousel-item>
            <el-carousel-item v-for="item in 1" :key="item">
                <h3>自然语言处理<sub>-命名实体识别</sub></h3>
                <marquee>命名实体识别：主要包含中国人名识别、音译人名识别、日本人名识别、地名识别以及机构名识别五大类别</marquee><br><br>
                <marquee>命名实体识别能够高效、快速、准确的将内容识别   &nbsp&nbsp&nbsp&nbsp <sub>开发人员-支友盟</sub></marquee>
            </el-carousel-item>
            <el-carousel-item v-for="item in 1" :key="item">
                <h3>自然语言处理<sub>-摘要关键字</sub></h3>
                <marquee>摘要关键字：<sub>-赵向阳</sub></marquee>
            </el-carousel-item>
            <el-carousel-item v-for="item in 1" :key="item">
                <h3>自然语言处理<sub>-依存句法分析</sub></h3>
                <marquee>依存句法分析：<sub>-卢思童</sub></marquee>
            </el-carousel-item>
            <el-carousel-item v-for="item in 1" :key="item">
                <h3>自然语言处理<sub>-简繁拼音转化</sub></h3>
                <marquee>简繁拼音转化：<sub>-陈金新</sub></marquee>
            </el-carousel-item>
            <el-carousel-item v-for="item in 1" :key="item">
                <h3>自然语言处理<sub>-智能推荐</sub></h3>
                <marquee>智能推荐：<sub>-待开发中</sub></marquee>
            </el-carousel-item>
        </el-carousel>
    </template>
    <el-container style="height: 500px; border: 1px solid #eee" >
        <el-aside width="200px" style="background-color: rgba(86,84,108,0.3)">
            <el-menu>
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-menu"></i>中文分词</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1"><a href="http://hanlp.linrunsoft.com/doc/_build/html/segment.html" target="_blank">了解详情</a></el-menu-item>
                        <el-menu-item index="1-2"><a href="http://localhost:8888/hanlp/chinese">立即使用</a></el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>命名实体识别</template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1"><a href="http://hanlp.linrunsoft.com/doc/_build/html/ner.html" target="_blank">了解详情</a></el-menu-item>
                        <el-menu-item index="2-2"><a href="http://localhost:8888/hanlp/named">立即使用</a></el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="3">
                    <template slot="title"><i class="el-icon-menu"></i>摘要关键字</template>
                    <el-menu-item-group>
                        <el-menu-item index="3-1"><a href="http://hanlp.linrunsoft.com/doc/_build/html/extract.html" target="_blank">了解详情</a></el-menu-item>
                        <el-menu-item index="3-2">立即使用</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="4">
                    <template slot="title"><i class="el-icon-menu"></i>依存句法分析</template>
                    <el-menu-item-group>
                        <el-menu-item index="4-1"><a href="http://hanlp.linrunsoft.com/doc/_build/html/dependency_parser.html" target="_blank">了解详情</a></el-menu-item>
                        <el-menu-item index="4-2">立即使用</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="5">
                    <template slot="title"><i class="el-icon-menu"></i>简繁拼音转换</template>
                    <el-menu-item-group>
                        <el-menu-item index="5-1"><a href="http://hanlp.linrunsoft.com/doc/_build/html/util.html" target="_blank">了解详情</a></el-menu-item>
                        <el-menu-item index="5-2">立即使用</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="6">
                    <template slot="title"><i class="el-icon-menu"></i>智能推荐</template>
                    <el-menu-item-group>
                        <el-menu-item index="6-1"><a href="http://hanlp.linrunsoft.com/doc/_build/html/segment.html" target="_blank">了解详情</a></el-menu-item>
                        <el-menu-item index="6-2">立即使用</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>查看</el-dropdown-item>
                        <el-dropdown-item>刷新</el-dropdown-item>
                        <el-dropdown-item>了解</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>Text recognition processing</span>
            </el-header>

            <el-main>
                <a>请输入一段想分析的文本： </a>
                <el-input
                        type="textarea"
                        :autosize="{ minRows: 4, maxRows: 4}"
                        placeholder="请输入内容"
                        v-model="textarea">
                </el-input>
                <div style="margin: 40px 0;"></div>
                <a>分析结果 :</a>
                <el-input
                        type="textarea"
                        :autosize="{ minRows: 4, maxRows: 4}"
                        placeholder="等待输出内容"
                        v-model="textarea3">
                </el-input>
                <div style="margin: 40px 0;"></div>
                <div align="center">
                    <el-row>
                        <el-button type="primary" round>转换</el-button>
                        <el-button type="success" round>取消</el-button>
                    </el-row>
                </div>
            </el-main>
        </el-container>
    </el-container>

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        new Vue({
            el : '#app',
            data : function() {
                return {
                    visible : false
                }
            }
        })
    </script>


</div>
<script src="/js/main/main.js" ></script>
</body>
</html>